.item {
  height: 150px;
  width: 150px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}

.img {
  height: 80px;
  width: 80px;
}
